{% extends 'base.html' %}
{% load static %}

{% block titre %}mot de passe mis à jour- QCMONGE{% endblock %}
{% block entete %}
<h1>Changement de votre mot de passe</h1>
{% endblock %}


{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Votre mot de passe a été modifié.</p>
{% else %}
<p>Vous devez être connecté.</p>
{% endif %}

{% endblock %}

