{% extends 'base.html' %}
{% load static %}

{% block titre %}changer mot de passe - QCMONGE{% endblock %}
{% block entete %}
<h1>Changement de votre mot de passe</h1>
{% endblock %}

{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<form method="post">
  <p>Veuillez entrer votre nouveau mot de passe.</p>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer votre mot de passe">
</form>
{% else %}
<p>Vous devez être connecté.</p>
{% endif %}

{% endblock %}

