{% extends 'base.html' %}
{% load static %}

{% block titre %}export QCM - QCMONGE{% endblock %}
{% block entete %}
<h1 id="titre">Construction de votre QCM</h1>
{% endblock %}

{% block contenu %}
<form method="post" action="{% url 'get-qcm-content' %}" onsubmit='QCMONGE.prepare_qcm()'>
  {% csrf_token %}
  <div id="selection">
    <div id="liste-themes" class="module">
      <table>
        <caption>Sélection du sujet</caption>
        <tbody>
          <tr>
            <th>{{ form.matiere.label_tag }} {{ form.matiere }}</th>
            <th>{{ form.theme.label_tag }} {{ form.theme }}</th>
            <th>{{ form.soustheme.label_tag }} {{ form.soustheme }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="type-question" class="module">
      <table>
        <caption>Type de questions</caption>
        <tbody>
          <tr>
            <th><input type="checkbox" name="simple" id="simpleQ" checked onchange='QCMONGE.update_questions(0)'/>
              <label for="simpleQ">Une seule bonne réponse</label></th>
            <th><input type="checkbox" name="multi" id="multiQ" class="a_droite" checked onchange='QCMONGE.update_questions(0)'/>
              <label for="multiQ">Plusieurs bonnes réponses possibles</label></th>
            <th><input type="checkbox" name="ouvert" id="ouvertQ" class="a_droite" checked onchange='QCMONGE.update_questions(0)'/>
              <label for="ouvertQ">Question ouverte</label></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="nb-question">
      <span id="totquestion">0</span> questions correspondent à vos critères.
      <span class="a_droite">Afficher <select id="nbquestion" name="nbquestion" onchange='QCMONGE.update_questions(0)'>
        <option>5
        <option>10
        <option>25
        <option>50
      </select> questions par page.</span>
    </div>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td class="module" style="vertical-align: top; width: 50%">
              <table>
                <caption>Questions suggérées</caption>
                <tbody>
                  <td id="liste-questions"></td>
                </tbody>
              </table>
          </td>
          <td class="module" style="vertical-align: top; width: 50%">
              <table>
                <caption>Questions sélectionnées</caption>
                <tbody>
                  <td id="selected-questions"></td>
                </tbody>
              </table>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div id="boutons">
      <input type="hidden" id="id_matiere_preferee" value="{{ matiere_preferee }}">
      <input type="hidden" id="qoffset" name="qoffset" value="0" />
      <input type="button" id="prevbut" name="prev-button" value="Questions précédentes" disabled="true" onclick='QCMONGE.update_questions(-1)' />
      <input type="button" id="nextbut" name="next-button" value="Questions suivantes" disabled="true" onclick='QCMONGE.update_questions(1)' />
      <input type="button" id="allbut" name="all-button" class="a_droite" value="Sélectionner toutes les questions" disabled="true" onclick='QCMONGE.select_all_questions()' />
      <input type="button" id="razbut" name="raz-button" value="Effacer toute la sélection"  disabled="true" onclick='QCMONGE.unselect_all_questions()' />
      <input type="button" id="viewbut" name="view-button" class="a_droite" value="Voir mon QCM" disabled="true" onclick='QCMONGE.show_groups()' />
    </div>
  </div>

  <div id="groupement" class="passive_tab">
    <p> Voici les questions que vous avez sélectionnées pour votre QCM.</p>
    <p> Si cela ne vous convient pas, vous pouvez encore désélectionner quelques questions.
      Pour en ajouter, veuillez revenir à la sélection.</p>
    <p> Si cela vous convient, cliquez sur le bouton de téléchargement en bas.
      Notez que les fichiers obtenus ne sont pas viables seuls. Il ne contient que les questions
      que vous avez choisies et les directives essentielles pour les compiler (les packages et les commandes).
      Il vous manque toute la présentation (préambule LaTeX, mise en forme,...). </p>
    <p> Le plus simple pour vous est d'avoir un fichier tex contenant votre préambule
      (tous vos <span class="dutex">\usepackage</span>) et la présentation
      (le <span class="dutex">\exemplaire</span>),
      appelé par exemple <span class="desnomsfichiers">mon-qcm.tex</span>.
      Dézipez le fichier téléchargé et placez son contenu (<span class="desnomsfichiers">header.tex</span>
      et <span class="desnomsfichiers">content.tex</span>) dans le même répertoire.
      
      Éditez <span class="desnomsfichiers">mon-qcm.tex</span> pour ajouter les commandes suivantes
      <ul>
        <li><span class="dutex"> \input{header}</span> entre préambule et le <span class="dutex">\begin{document}</span></li>
        <li><span class="dutex"> \input{content}</span> entre le <span class="dutex">\begin{document}</span> et
          le <span class="dutex">\exemplaire</span></li>
      </ul>
    </p>
    <hr />
    
    <p>Vous avez ici la possibilité d'organiser vos questions en groupe.
      Dans ce cas, vos questions sont mélangées à l'intérieur d'un groupe ce qui fait que
      les questions d'un même sujet restent regroupées.</p>
    
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td id="groupless"></td>
          <td id="group-container"></td>
        </tr>
      </tbody>
    </table>
    
    <div id="poubelle">
      Glisser ici pour supprimer une question
    </div>
    
    <div id="boutons">
      <input type="hidden" id="selected" name="selected" value="" />
      <input type="button" id="goback-button" name="go-back" value="Revenir à la sélection" onclick='QCMONGE.show_selection()' />
      <input type="button" id="grpbut" name="group-button" class="a_droite" value="ajouter un groupe" onclick='QCMONGE.add_group()' />
      <input type="submit" id="getbut" name="get-button" class="a_droite" value="Télécharger les questions" />
    </div>
    
  </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/thematique.js' %}"></script>
<script src="{% static 'js/export.js' %}"></script>
{% endblock %}
