{% extends 'base.html' %}
{% load static %}

{% block titre %}import QCM - QCMONGE{% endblock %}
{% block entete %}
<h1>Importation de votre QCM</h1>
{% endblock %}

{% block contenu %}
<form method="post" action="{% url 'import1-qcm' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" id="id_matiere_preferee" value="{{ matiere_preferee }}">
  <p>
    Pour renseigner les matières/thèmes/sous-thèmes des questions que vous aller importer, vous avez plusieurs solutions:
    <ul>
      <li>Si toutes les questions portent sur le même sous-thème, vous pouvez pré-remplir les informations maintenant.</li>
      <li>Vous pouvez les renseigner dans le fichier LaTeX avec les balises <span class="balise">%%-QCMONGE-MATIERE:</span>,
        <span class="balise">%%-QCMONGE-THEME:</span> et <span class="balise">%%-QCMONGE-SOUS-THEME:</span>.</li>
      <li>Sinon, il vous faudra les remplir une par une pour toutes les questions trouvées dans la page suivante.</li>
    </ul>
  </p>
  
  <table>
    {{ form.as_table }}
  </table>
  <div id="boutons">
    <input type="submit" id="uploadbut" name="upload-button" value="Téléverser le QCM" />
  </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/thematique.js' %}"></script>
<script src="{% static 'js/import.js' %}"></script>
{% endblock %}
