{% extends 'base.html' %}
{% load static %}

{% block titre %}valide QCM - QCMONGE{% endblock %}
{% block entete %}
<h1>Validation de l'import de votre QCM</h1>
{% endblock %}

{% block contenu %}
<p>
  Veuillez vérifier les données trouvées par QCMonge et compléter si nécessaire.
  Chaque question valide sera enregistrée de manière définitive dans la base.
  Elle ne pourra alors plus être modifiée.
</p>
<p>
  Si vous constatez qu'il manque des questions par rapport à votre fichier initial, ceci peut signifier deux choses:
  <ul>
    <li>QCMonge n'a pas réussi à trouver votre question.</li>
    <li>QCMonge n'a pas réussi à compiler votre question. </li>
  </ul>
  Dans ce cas, il est possible que la syntaxe de votre question soit un peu trop exotique pour QCMonge.
</p>
<p>
  Vous avez la possibilité de modifier le préambule et la version LaTeX de chaque question.
  Si au moins une de ces données est modifiée, la question ne sera pas validée complètement:
  QCMonge vérifiera d'abord qu'il peut compiler la question et vous proposera à nouveau de valider vos modifications.
</p>
<form method="post" action="#" id="qlistform" >
  {% csrf_token %}
  {% for formul, image, enonce, nom in form_img_tex_nom %}
  <fieldset id="id_{{ nom }}" class="single_quest">
    <div style="width: 100%">{{ formul.non_field_errors }}</div>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <th>{{ formul.matiere.label_tag }} {{ formul.matiere }}</th>
          <th>{{ formul.theme.label_tag }} {{ formul.theme }}</th>
          <th>{{ formul.soustheme.label_tag }} {{ formul.soustheme }}</th>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <th>{{ formul.keepme.label_tag }} {{ formul.keepme }}</th>
          <th>{{ formul.qtype.label_tag }} {{ formul.qtype }}</th>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <th class="header_content">
            {{ formul.texheader.label_tag }}
            {{ formul.texheader }}
            {{ formul.texcontent.label_tag }}
            {{ formul.texcontent }}
          </th>
          <td style="width: 50%;">
            <img src="{% static image %}" alt="{{ enonce }}" style="width: 100%">
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  {% endfor %}
  
  <div id="boutons">
    <input type="hidden" id="qids" name="qids" value="{{ qids }}">
    <input type="hidden" id="id_matiere_preferee" value="{{ matiere_preferee }}">
    <input type="submit" value="Valider les questions" />
  </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/thematique.js' %}"></script>
<script src="{% static 'js/final-import.js' %}"></script>
{% endblock %}
