{% extends 'base.html' %}

{% block contenu %}
<p>En attendant une vraie page d'accueil, voici quelques liens:
  <ul>
    <li>Pour importer des questions dans la base: <a href="{% url 'import1-qcm' %}">Importation de QCM</a> (utilisateurs autorisés seulement)</li>
    <li>Pour construire votre QCM à partir de la base: <a href="{% url 'export-qcm' %}">Construction de QCM</a></li>
    <li>Pour voir tous les thèmes enregistés: <a href="{% url 'voir-themes' %}">Visualiser les thèmes des QCM</a></li>
  </ul>
</p>
<p>Une page d'accueil plus accueillante viendra plus tard, QCMonge est encore en construction...</p>
{% if user.is_authenticated %}
<p>Vous pouvez changer votre mot de passe <a href="{% url 'password_change' %}">sur cette page</a>.</p>
{% endif %}
{% endblock %}
