{% extends 'base.html' %}
{% load static %}

{% block titre %}login - QCMONGE{% endblock %}
{% block entete %}
<h1>Connection à votre compte</h1>
{% endblock %}

{% block contenu %}
{% if form.errors %}
<p>Compte invalide. Essayez à nouveau ou contactez un administrateur.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>
{% endif %}

{% endblock %}

