{% extends 'base.html' %}
{% load static %}

{% block titre %}mot de passe oublié - QCMONGE{% endblock %}
{% block entete %}
<h1>Réinitialisation de votre mot de passe</h1>
{% endblock %}

{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
{% if validlink %}
<form method="post">
  <p>Veuillez entrer votre nouveau mot de passe.</p>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer votre mot de passe">
</form>
{% else %}
<p>Le lien que vous avez utilisé n'est pas valide. Il se peut qu'il ait déjà servi.</p>
<p>Veuillez recommencer la procédure de réinitialisation ou contacter un administrateur.</p>
{% endif %}
{% endif %}

{% endblock %}

