{% extends 'base.html' %}
{% load static %}

{% block titre %}mot de passe oublié - QCMONGE{% endblock %}
{% block entete %}
<h1>Message de réinitialisation de votre mot de passe envoyé</h1>
{% endblock %}

{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
<p>Le mail avec les instructions pour changer de mot de passe vous a été envoyé. Vous devriez le recevoir rapidement.</p>
<p>Si vous ne recevez pas de message, vérifiez que vous avez saisi votre adresse correctement et contrôlez votre dossier de pourriels.</p>
{% endif %}

{% endblock %}

