{% extends 'base.html' %}
{% load static %}

{% block titre %}mot de passe mis à jour- QCMONGE{% endblock %}
{% block entete %}
<h1>Réinitialisation de votre mot de passe</h1>
{% endblock %}


{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
<p>Votre mot de passe a bien été modifié. Vous pouvez à présent vous connecter à votre compte.</p>
<p><a href="{% url 'login' %}">Page de connection</a></p>
{% endif %}

{% endblock %}

