{% extends 'base.html' %}
{% load static %}

{% block titre %}mot de passe oublié - QCMONGE{% endblock %}
{% block entete %}
<h1>Réinitialisation de votre mot de passe</h1>
{% endblock %}

{% block contenu %}
{% if form.errors %}
<p>Erreurs.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
<p>Saisissez votre adresse mail pour recevoir les instructions de réinitialisation.</p>
<form method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.email.label_tag }}</td>
      <td>{{ form.email }}</td>
    </tr>
  </table>
  
  <input type="submit" value="Réinitialiser mon mot de passe" />
</form>
{% endif %}

{% endblock %}

