{% extends 'base.html' %}

{% block titre %}themes - QCMONGE{% endblock %}
{% block contenu %}
<p>Module de visualisation des thèmes</p>
{% if matieres %}
<ul>
  {% for m,dt in matieres.items %}
  <li>{{ m.intitule }} : 
    {% if dt %}
    <ul>
      {% for t,ds in dt.items %}
      <li>{{ t.sujet }} : 
        {% if ds %}
        <ul>
          {% for s,dq in ds.items %}
          <li>{{ s.motcle }} : {{ dq }} questions</li>
            {% endfor %}
        </ul>
        {% else %}
        Pas de sous-thème
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    Pas de thème
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p> Pas de matière </p>
{% endif %}
{% endblock %}
