{% load static %}{% load qcmonge_extras %}
<!doctype html>
<html>
  <head charset="utf-8">
    <title>{% block titre %}QCMonge{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qcmonge.css' %}">
  </head>
  <body>
    <header id="header">
      <div id="branding">
      <h1 id="site-name"><a href="{% url 'index' %}">QCMonge</a></h1></div>
      <div id="user-tools">
        Utilisateur {% if user.is_authenticated %}<strong>{{ user.username }}</strong>{% else %}non autentifié{% endif %}.
        <a href="{% url 'export-qcm' %}">Construire un QCM</a> --
        {% if perms.qcmonge.add_question %}<a href="{% url 'import1-qcm' %}">Importer des questions</a> -- {% endif %}
        {% if user|need_valide > 0 %}<a href="{% url 'import2-qcm' %}">Valider des questions ({{ user|need_valide }})</a> -- {% endif %}
        {% if user.is_staff %}<a href="/admin">Administration</a> -- {% endif %}
        {% if user.is_authenticated %}<a href="{% url 'logout' %}">Déconnexion</a>{% else %}<a href="{% url 'login' %}">Connexion</a>{% endif %}
      </div>
    </header>
    {% if messages %}
    <div>
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><pre>{{ message }}</pre></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <main>
      {% block entete %}<h1>Bienvenu sur QCMonge</h1>{% endblock %}
      {% block contenu %}<p>Rien à afficher pour le moment</p>{% endblock %}
    </main>
    <footer>
      2018-2021 - <a href="https://framagit.org/vd-prof/QCMonge">QCMonge</a> - CB, J-PB, VD
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
