h1 {
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: aliceblue;
}

footer {
    height: 50px;
    line-height: 50px;
    margin-top: auto;
    text-align: center;
    background: #417690;
}

footer a {
    color: #fff !important;
}

th, td {
    vertical-align: middle;
    border-bottom: 0px !important;
}

.module table {
    width: 100%
}

#errmsg, .err {
    color: red;
}

.question-unique {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 2px;
}

.question-unique img {
    max-width: 100%;
}


#groupless, #group-container {
    vertical-align: top;
    width: 50%;
}

#boutons {
    width: 100%;
    margin: 10px 0px 20px;
    text-align: center;
}


.header_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.dutex {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    background-color: #ADFF2F;
}

.desnomsfichiers {
    font-family: "Lucida Console", Monaco, monospace;
    font-style: italic;
    background-color: #B0E0E6;
}

.draggable-obj, .draggable-obj img {
    cursor : grab;
}

.dragged-obj {
    border-style : dashed;
    border-radius: 10px;
    border-color: black;
    cursor : grabbing;
    background-color: lightGrey;
}

.dragged_obj img {
    cursor : grabbing;
}

.droppable-zone, .dropped-zone {
    min-width: 500px;
    display: block;
}

.dropped-zone {
    border-style : solid;
    border-radius : 10px;
}

.selected {
    background-color: lightSteelBlue;
}

#groupement, #selection {
    margin-bottom: 50px;
}

.capbut {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    margin: 0 !important;
    padding: 5px !important;
}

#poubelle {
    min_width: 1000px;
    min-height: 100px;
    border-color: red;
    border-radius: 10px;
    /* bricole pour centrer */
    display: flex;
    justify-content: center;
    align-items: center;
}

#poubelle.droppable-zone {
    border-style: dotted;
}

.passive_tab {
    display: none;
}

.a_droite {
    margin-left: 70px;
}

.a_gauche {
    margin-right: 70px;
}

.balise {
    font-family: "Courier New";
    color: blue;
}

.removed_question {
    background-color: grey;
}

.good_question {
    background-color: palegreen;
}

.bad_question {
    background-color: lightpink;
}

.errorlist, .error {
    background-color: red;
}

.info {
    background-color: lightblue;
}

.success {
    background-color: lightgreen;
}

.warning {
    background-color: orchid;
}

.single_quest {
    margin: 1px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #417690;
    border-radius: 5px;
    padding: 5px;
}
